<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lt.dualpair.android">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>


    <permission android:name="lt.dualpair.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="lt.dualpair.android.permission.C2D_MESSAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name=".ui.accounts.LoginActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.user.AddSociotypeActivity"/>
        <activity android:name=".ui.user.ConfirmSociotypeActivity"/>
        <activity android:name=".ui.user.SetDateOfBirthActivity"/>
        <activity android:name=".ui.socionics.SocionicsTestActivity"/>
        <activity android:name=".ui.search.SearchParametersActivity"/>
        <activity android:name=".ui.AboutActivity"/>
        <activity android:name=".ui.match.MatchActivity"/>
        <activity android:name=".ui.match.MutualMatchActivity"/>
        <activity android:name=".ui.match.NewMatchActivity" android:theme="@style/AppTheme.NewMatchWindow"/>
        <activity android:name=".ui.match.ReviewHistoryActivity"/>
        <activity android:name=".ui.user.EditUserActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ui.user.EditPhotosActivity"/>
        <activity android:name=".ui.accounts.EditAccountsActivity"/>
        <activity android:name=".ui.accounts.LinkAccountActivity"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent"/>

        <service android:name=".accounts.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="lt.dualpair.android" />
            </intent-filter>
        </receiver>

        <service
            android:name="lt.dualpair.android.gcm.CustomGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="lt.dualpair.android.gcm.CustomInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name=".gcm.RegistrationService"
            android:exported="false"/>

        <service
            android:name="lt.dualpair.android.data.remote.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <service
            android:name=".data.TaskProcessingService"
            android:exported="false"/>

        <provider
            android:name="lt.dualpair.android.data.remote.StubContentProvider"
            android:authorities="lt.dualpair.android.data.provider"
            android:exported="false"
            android:syncable="true"/>

    </application>

</manifest>
